<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <link href="/static/style.css" rel="stylesheet">
  <script src="/static/jquery-3.1.0.min.js"></script>
  <script src="/static/my.js"></script>
 
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="menu">
<ul>
  <li><a href="/">home</a></li>
  <li><a href="/echo">Echo</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/account">Account</a></li>
  <li><a href="/other">Other</a></li>
</ul>
</div>

{% block body %}{% endblock %}
</body>
</html>

