body {
   padding: 0;
   margin: 10;
}

.section {
    border: solid 1px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline;
}
